.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.config/
.cshrc
Documents/
.dbus/
.dmrc
.esd_auth
.evolution/
.fetch_utf_ril.sh
.gconf/
.gconfd/
.git
.git_template/
.gnome2/
.gtk-bookmarks
.history
.lesshst
.local/
local/
.login
.mission-control/
.mozilla/
.profile
.pulse-cookie
.pulse/
.repoconfig/
.ssh/
.snapshot/
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.viminfo
.vim/.netrwhist
.vnc/
.volume-info/
.xsession.local
.xsession-errors
.xsession-errors.old
git/
