[user]
  name = Shiyu Dong
  email = shiyud@quicinc.com
[review "review-android.quicinc.com"]
  username = shiyud
[format]
	numbered = auto
[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential]
  helper = cache --timeout=3600
[push]
  default = matching
[core]
	excludesfile = /usr2/shiyud/.gitignore-global
	editor = vim
[init]
	templatedir = ~/.git_template
