.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.config/
.cshrc
.dbus/
.dmrc
.gconf/
.gnome2/
.gtk-bookmarks
.history
.local/
.login
.mission-control/
.mozilla/
.profile
.pulse-cookie
.pulse/
.ssh/
.snapshot/
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.viminfo
.vim/.netrwhist
.volume-info/
.xsession.local
.xsession-errors
.xsession-errors.old
examples.desktop
Documents
